[submodule "i3"]
	path = i3
	url = git@github.com:ForgottenScream/i3-config.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:ForgottenScream/zsh.git
[submodule "tmuxp"]
	path = tmuxp
	url = git@github.com:ForgottenScream/tmuxp.git
[submodule "dunst"]
	path = dunst
	url = git@github.com:ForgottenScream/dunst-config.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:ForgottenScream/fonts.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:ForgottenScream/neovim-config.git
