[submodule "i3"]
	path = i3
	url = https://github.com/ForgottenScream/i3-config.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:ForgottenScream/zsh.git
[submodule "tmuxp"]
	path = tmuxp
	url = git@github.com:ForgottenScream/tmuxp.git
