! Set the font
XTerm*faceName: Inconsolata Nerd Font Mono 
XTerm*faceSize: 12

! Set the colors
XTerm*foreground: white
XTerm*background: black
XTerm*color0: black
XTerm*color1: red
XTerm*color2: green
XTerm*color3: yellow
XTerm*color4: blue
XTerm*color5: magenta
XTerm*color6: cyan
XTerm*color7: white
XTerm*color8: grey
XTerm*color9: lightred
XTerm*color10: lightgreen
XTerm*color11: lightyellow
XTerm*color12: lightblue
XTerm*color13: lightmagenta
XTerm*color14: lightcyan
XTerm*color15: brightwhite

! Set the cursor shape
XTerm*cursorColor: green
XTerm*cursorBlink: true

! Set the scrollbar
XTerm*scrollBar: true
XTerm*scrollTtyOutput: true

! Set the title
XTerm*title: My Xterm

